
*.xcworkspacedata

VenusGateway/VenusGateway.xcodeproj/xcuserdata/Marius.xcuserdatad/xcschemes/xcschememanagement.plist

VenusGateway/VenusGateway.xcodeproj/xcuserdata/Marius.xcuserdatad/xcschemes/VenusGateway.xcscheme

VenusGateway/VenusGateway.xcodeproj/project.xcworkspace/xcuserdata/Marius.xcuserdatad/UserInterfaceState.xcuserstate

VenusGateway/VenusGateway.xcodeproj/project.xcworkspace/contents.xcworkspacedata

VenusGateway/VenusGateway.xcodeproj/project.pbxproj

VenusGateway/VenusGateway.xcodeproj/project.pbxproj
